{% for k in keys %}
key {{ k.id }} {
    algorithm {{ k.algorithm }};
    secret "{{ k.secret }}";
};
{% endfor %}

{% for d in domains %}
zone "{{ d.domain }}" IN {
    type slave;
    masters { {% for host in mappings %}{% if (host.name + '.' + host.domain) == d.ns.primary %}{% if host.addr4 is defined %}{{ host.addr4 }}; {% endif %}{% if host.addr6 is defined %}{{ host.addr6 }}; {% endif %}{%endif%}{% endfor %}};
    file "{{ dns.zonedb_dir }}/db.{{ d.domain }}";
    forwarders { };
};
{% endfor %}

{% for n in networks %}
zone "{{ '.'.join((n.subnet | ipaddr('network') | ipaddr('revdns')).split('.')[1:-1]) }}" IN {
    type slave;
    masters { {% for host in mappings %}{% if (host.name + '.' + host.domain) == n.rdns.ns.primary %}{% if host.addr4 is defined %}{{ host.addr4 }}; {% endif %}{% if host.addr6 is defined %}{{ host.addr6 }}; {% endif %}{%endif%}{% endfor %}};
    file "{{ dns.zonedb_dir }}/db.{{ '.'.join(((n.subnet | ipaddr('revdns')).split('.'))[1:-3]) }}";
    forwarders {  };
};
{% endfor %}


